<section class="h-full px-6 col-span-2 flex flex-col justify-start   items-center bg-[#111b21]">

    <div class="flex flex-row justify-between items-center w-full my-6">
        <h1 class="leading-8 font-bold text-2xl">Chats</h1>
        <div class="flex flex-row">
            <svg height="24" width="24" fill="#fff">
                <path
                    d="M9.533 12.991h1.976v1.976c0 .433.254.85.667.982a.994.994 0 0 0 1.315-.94v-2.018h1.976c.433 0 .851-.255.982-.668a.994.994 0 0 0-.94-1.314H13.49V9.033c0-.433-.255-.85-.668-.982a.995.995 0 0 0-1.314.94v2.018H9.49a.994.994 0 0 0-.94 1.314c.13.413.548.668.982.668Z"
                    fill="currentColor" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M.944 5.526 3 8.848v8.485A2.667 2.667 0 0 0 5.667 20h13.666A2.667 2.667 0 0 0 22 17.333V6.667A2.667 2.667 0 0 0 19.333 4H1.795a1 1 0 0 0-.85 1.526ZM5 8.28v9.053c0 .369.298.667.667.667h13.666a.667.667 0 0 0 .667-.667V6.667A.667.667 0 0 0 19.333 6H3.59L5 8.28Z"
                    fill="currentColor" />
            </svg>
            <svg height="24" width="24">
                <path fill="currentColor"
                    d="M12 7a2 2 0 1 0-.001-4.001A2 2 0 0 0 12 7zm0 2a2 2 0 1 0-.001 3.999A2 2 0 0 0 12 9zm0 6a2 2 0 1 0-.001 3.999A2 2 0 0 0 12 15z" />
            </svg>
        </div>
    </div>

    <div class="flex flex-row bg-[#202c33] px-4 w-full items-center justify-center ">
        <svg height="24" width="24">
            <path fill="currentColor"
                d="M15.009 13.805h-.636l-.22-.219a5.184 5.184 0 0 0 1.256-3.386 5.207 5.207 0 1 0-5.207 5.208 5.183 5.183 0 0 0 3.385-1.255l.221.22v.635l4.004 3.999 1.194-1.195-3.997-4.007zm-4.808 0a3.605 3.605 0 1 1 0-7.21 3.605 3.605 0 0 1 0 7.21z" />
        </svg>
        <input class="bg-transparent w-[100%] h-10 rounded-2xl px-3 focus:outline-none focus:border-none" type="text"
            placeholder="Search">
    </div>
    <div class="categories gap-1 w-full flex flex-row justify-start">
        <button class="selected" id="All">All</button>
        <button id="Unread">Unread</button>
        <button id="Groups">Groups</button>
    </div>
    
    <!-- Chat Contact Cards -->
    <% chat.forEach(chat=> { %>
        <div class="chat flex flex-col items-center w-full hover:bg-[#202c33]">

            <div class="flex flex-row gap-3 w-full justify-between">
                <div class="flex flex-row gap-3">
                    <img class="rounded-full size-12" src="<%= chat.profilePic %>" alt="">
                    <div>
                        <h2>
                            <%= chat.name %>
                        </h2>
                        <p class="text-slate-500">
                            <%= chat.lastMsg %>
                        </p>
                    </div>
                </div>
                <p class="text-slate-500">
                    <%= chat.date %>
                </p>
            </div>
        </div>
        <br>
        <% }); %>


</section>