<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="output.css">
    <link rel="shortcut icon" href="/src/assets/favicon.png" type="image/x-icon">
</head>
<body class="bg-[#2c2c2c] flex flex-row w-[100vw]"> 
    <%- include ("navBar.ejs") %>
    <div class="grid grid-cols-6 w-[100%]">
        <%- include("allChats.ejs", { chat: chats }) %>
        <%- include("chat.ejs", { chat: activeChat }) %>
    </div>    
</body>
</html>
